*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif
}
/*Header styling*/
header {
    color: white;
    background-color: #1f2937;
}
.logo {
    font-size: 24px;
    font-weight: 800;
    
}
li{
    list-style: none;
    display: inline-flex;
    margin-right: 10px
}
.links a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;     
}
/*Section one styling*/
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 140px;
    padding-top: 20px;
}
.body-one {
    display: flex;
    justify-content: space-between;
    padding: 80px 150px;
    background-color: #1f2937;
    gap: 20px;
    color: #f9faf8;   
}
.top-box {
    padding: 70px;
    background-color: lightslategrey;
    color: white;
    width: 500px;
    
}
.top-box p {
    padding: 30px;
    text-align: center;
}
.text {
    width: 400px;
}
.text h1 {
    font-weight: 1000;
    font-size: 48px;
    color: #f9faf8;
    line-height: 1;
    margin-bottom: 10px;
}
.text p {
    color: #e5e7eb;
    margin-bottom: 10px;
}
.btn-one {
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    color: #f9faf8;
    cursor: pointer;
}

/*Section two styling*/
.box {
    padding: 80px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.body-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.heading {
    padding: 20px;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    
}
.content {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.info {
    max-width: 170px;
}
.caption {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

/*Section three styling*/
.body-three .name {
    font-size: 25px;
    color: #1f2937;
    font-weight: 1000;
    text-align: right;
}
.body-three {
    padding: 50px 260px;
    margin: auto;
}
.section-three {
    background-color: #e5e7eb;
}
.body-three p {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
}

/*Section four styling*/
.btn-two {
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    color: #f9faf8;
    border: white 2px solid;
    cursor: pointer;
}

.body-four {
    background-color: #3882f6;
    color: #f9faf8;
    max-width: 850px;
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap : 100px;
    border-radius: 5px;
}
.section-four {
    padding: 80px
}
